body {
  /* The absolute minimum to add */
  max-inline-size: 70ch;
  margin-inline: auto;
  padding-inline: 1rem;

  /* A minimum of ornaments */
  font-family: Helvetica, Arial, sans-serif;
  background-color: cadetblue;
}